// FOOTER

.footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--second-theme-color);

    &__conteiner{
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;

        @media screen and (min-width:768px){
            justify-content: space-around;
        }
    }

    &__page{
            margin: 0 auto ;
            text-align: center;
            margin-bottom: 60px;

            @media screen and (min-width:1200px){
                text-align: start;
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 0;
            }
    }
}

.footer-social{
        
        margin: 0 auto 60px;
        width: 100%;

        @media screen and (min-width:768px){
            width: auto;
        }
        
        @media screen and (min-width:1200px) {
            margin-left: 70px;
            margin-right: auto;
        }
        
    &__title{
        display: block;
        @include font(700, 14px, 1.14, 0.03em);
        text-transform: uppercase;
        text-align: center;
        color: var(--main-color);
        margin-bottom: 20px;

        @media screen and (min-width:1200px) {
            text-align: start;
        }
    }
}

    .social__link--footer{
        background-color:  rgba(255, 255, 255, 0.1);
        color: var(--main-color);
    
        &:hover{
            background-color: var(--accent-color);
            color: var(--main-color);
        }
    }

.footer-address{
        font-style: normal;

    &__item + .footer-address__item{
        margin-top: 9px;
    }

    &__map-address{
        @include font(null, 14px, 1.7, 0.03em);
        color: var(--main-color);
    }

    &__contact{
        @include font(null, 14px, 1.7, 0.03em);
        color: rgba(255, 255, 255, 0.6);
        transition-property: color;
        @include animation();

        &:focus,
        &:hover{
            color: var(--accent-color);
        }
    }
}
