// HEADER

.header{
    border-bottom: 1px solid #ececec;

    &__container{
        display: flex;
        align-items: center;
    }
}

// header navigation

.nav {
    display: flex;

    &__menu{
        display: flex;
    }

    &__item + .nav__item{
        margin-left: 50px;
    }

    &__link{
        display: block;
        position: relative;
        padding: 32px 0;
        @include font(500, 14px, 1.14, 0.02em);
        color:var(--text-color);
        @include animation();
        transition-property: color ; 
    
    &__link:hover{
        color: var(--accent-color);
    }
    &::after{
        position: absolute;
        display: block;
        content: "";
        width: 100%;
        height: 4px;
        background-color: var(--accent-color);
        border-radius: 2px;
    
        bottom: 0;
        left: 0;
        transform: scaleX(0);
    
        @include animation();
        transition-property: transform;
        }
    
        &:hover::after{
            transform: scaleX(1);
        }
    
        &--activ::after {
            transform: scaleX(1);
            color: var(--accent-color);
        }

        &--activ{
            color: var(--accent-color);
        }
    }
}


.contact{
    display: flex;
    margin-left: auto;

    &__item + .contact__item{
        margin-left: 50px;
    }

    &__link{
        display: flex;
        align-items: center;
        position: relative;
        padding: 32px 0;
        @include font(500, 14px, 1.14, 0.02em);
        color:var(--text-color);
        @include animation();
        transition-property: color ;
        color:var(--second-text-color);
    }

    &__link:hover .contact__link--icon,
    &__link:focus .contact__link--icon,
    &__link:hover,
    &__link:focus
    {
        color: var(--accent-color) ;
        fill: var(--accent-color);
    }

    &__link--icon{
    margin-right: 10px;
    fill: currentColor;

    @include animation();
    transition-property: color, fill;
    }
}