.section__team{

    &--color{
        background-color: var(--fon-color);
    }

    &--title{
        margin-bottom: 50px;
    }
}

.worker{
    margin-right: 30px;

    &:last-child{
        margin-right: 0px;
    }

    &__card{
        padding-top: 30px;
        padding-bottom: 30px;
    
        background-color: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    
    }

    &--name{
        margin-bottom: 10px;
    
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--text-color);
    }

    &--position{
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--second-text-color);
    
        margin-bottom: 16px;
    }
}


.social__link--color{
    background-color: transparent;
    color: var(--icons-color);

    &:hover{
        background-color: var(--accent-color);
        color: var(--main-color);
    }
}