// SERVICES

.services {
    display: flex;
    padding-bottom: 94px;

    @media screen and (max-width:1200px) {
        display: none;
    }

    &__title{
        margin-bottom: 50px;
    }

    &__container{
        display: flex;
    }

    &__item{
        margin-right: 30px;
        position: relative;
    }

    &__item:last-child{
        margin-right:0px;
    }

    &__supplement-wrapper{
        position: absolute;
        bottom: 0px;
    
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 70px;

        background-color: rgba(47, 48, 58, 0.8);
    }

    &__text{
        @include font(700, null, 1.14, 0.03em);
        text-transform: uppercase;
        color: #FFFFFF;
    }
}