.section-works {
    display: flex;
    padding-bottom: 94px;

    &__title{
        margin-bottom: 50px;
    }

    &__item{
        margin-right: 30px;
        position: relative;
    }

    &__item:last-child{
        margin-right:0px;
    }

    &__supplement-img{
        position: absolute;
        bottom: 0px;
    
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 70px;
        
        @include font(700, null, 1.14, 0.03em);
        text-transform: uppercase;
        color: #FFFFFF;
        background-color: rgba(47, 48, 58, 0.8);
    }
}