.logo{
    display: block;
    padding: 24px 0;

    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    @include font(700, 26px, 1.19, 0.03em);

    @media screen and (max-width:768px) {
        padding: 16px 0;
    }

    &__header{
        margin-right: 92px;
    }

    &__header--black {
        color: #000000;
    }

    &__footer{
        margin: 0;
        padding: 0;
        margin-bottom: 20px;
    }

    &__footer--white{
        color: var(--main-color);
    }
}