.logo{
    display: block;
    padding: 24px 0;

    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    @include font(700, 26px, 1.19, 0.03em);

    &--header{
        margin-right: 92px;
    }

    &--black {
        color: #000000;
    }

    &--white{
        color: var(--main-color);
    }
}



// .logo--web{
//     color: var(--accent-color);
// }

