.logo{
    display: block;
    padding: 24px 0;

    color: #000000;
    font-family: 'Raleway', sans-serif;
    @include font(700, 26px, 1.19, 0.03em);
}

.logo--header{
    margin-right: 92px;
}

.logo--web{
    color: var(--accent-color);
}

.logo-studio {
    color: #000000;
}