// Modal window
.modal{
    &__backdrop{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        opacity: 1;
        transition: opacity 1250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__window{
        position: absolute;
        top: 50%;
        left: 50%;
        transform:translate(-50%, -50%) rotate(360deg);
        transition: transform 1250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        width: 528px;
        padding: 40px;
        background-color: var(--main-color);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
    }

    &__btn-close{
        position: absolute;
        top: 8px;
        right: 8px;
        padding: 0px;
        
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: var(--main-color);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        }

    &__title{
        font-size: 20px;
        line-height: 1.15;
        
        color: #212121;
        margin-bottom: 12px;
    }

    &__lable{
        display: block;
        margin-bottom: 10px;
        position: relative;
        @include font(null, 12px, 1.16, 0.01em);

        color: #757575;
    }
    
    &__input{
        width: 100%;
        height: 40px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        outline: none;
        border-radius: 4px;
        padding: 12px 42px;
        margin-top: 4px;
    }

    &__icon{
        position: absolute;
        pointer-events:none;
        border: none;
        bottom: 11px;
        left: 12px;
    }
    
    &__message{
        display: block;
        margin-bottom: 20px;
    }
    
    &__coments{
        @include font(null, 14px, 1.16, 0.01em);
    
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        outline: none;
        height: 120px;
        width: 100%;
        resize: none;
    
        padding: 12px 16px;
        margin-top: 4px;
    }
    
    &__coments::placeholder{
        color: rgba(117, 117, 117, 0.5);
    }
    
    /* checkbox */
    
    &__input-check{
        visibility: hidden;
    }
    
    &__checkbox-text{
        display: flex;
        align-items:center;
        justify-content:center;
        margin-bottom: 30px;
    }
    
    &__checkbox-text, &__link{
        @include font(null, 14px, 1.71, 0.03em);
        color: #757575;
    }

    &__link{
        color: #2196F3;
        text-decoration-line: underline;
    }
    
    &__checkbox{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 16px;
        height: 15px;
        margin-right: 7px;
        
        border-radius: 2px;
        outline: 2px solid  #212121;
        outline-offset: -1px;
        cursor: pointer;
    
        transition-property: background-color, outline-offset, outline;
        @include animation();
    }
    &__input-check:checked + .modal__checkbox{
        background-color: #2196F3;
        outline: 2px solid #2196F3;
    }
    
    &__icon-check{
        fill: var(--main-color);
    }
    
    &__btn{
        margin: 0 auto;
        @include font(700, 16px, 1.87, 0.06em);
    }
}

.is-hidden{
    opacity: 0;
    pointer-events: none;
}

.is-hidden .modal__window{
    transform: translate(-50px, -50px) rotate(0deg);
    transition: transform 1250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus + .modal__icon,
.modal__input:hover + .modal__icon,
.modal__btn-close:hover{
    fill: var(--accent-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:hover,.modal__input:focus,
.modal__coments:hover,.modal__coments:focus{
    border: 1px solid #2196F3;

    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


// MODAL FORM FOR FOOTER

.footer-modal{
    width: 570px;

    &__title{
        display: block;
        @include font(700, 14px, 1.14, 0.03em);
        text-transform: uppercase;
        
        color: var(--main-color);
    
        margin-bottom: 20px;
        }
    }
    
    .footer-form{
        display: flex;
        align-items: center;

        &__wrapper{
            position: relative;
        }

        &__inp{
            width: 358px;
            height: 50px;
            margin-right: 12px;
            border: 1px solid rgba(255, 255, 255, 0.3);
            outline: transparent;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            border-radius: 4px;
            background-color: transparent;
            color: rgba(255, 255, 255, 0.6);
            
            padding-left: 16px;

            &:focus{
                border-color: var(--accent-color);
            }
        }

        &__email{
            position: absolute;
            display: block;
            top: 50%;
            left: 16px;
            transform: translateY(-50%);
            color: rgba(255, 255, 255, 0.6);
            
            transition-property: transform color ;
            @include animation();
        }

        &__inp:focus + .footer-form__email,
        &__inp:not(:placeholder-shown) + .footer-form__email{
            top: 50%;
            left: -55px;
            transform: translateY(-50%);
            color: var(--accent-color);
            font-size: 17px;
        }

        &__btn{
            @include font(700, 16px, 1.87, 0.06em);
        
            display: flex;
            align-items: center;
            text-align: center;
        
            padding: 10px 28px;
            }
            
            &__icon{
                margin-left: 10px;
            }
    }

