html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

img{
    display: block;
}

.list{
    list-style: none;  
}

a {
    text-decoration: none;
}

.link {
    text-decoration: none;
    color: var(--text-color);
}