:root{
    --primary-bd-color:#E5E5E5;
    --text-color: #212121;
    --second-text-color: #757575;
    --accent-color: #2196F3;
    --main-color: #FFFFFF;
    --theme-color: #F5F4FA;
    --second-theme-color: #2F303A;
    --fon-color: #F5F4FA;
    --icons-color:#AFB1B8;
 }

 
/* color body #E5E5E5 */
/* color header #FFFFFF */
/* color section baner #2F303A */
/* color bodi #E5E5E5 */
/* color section our team #F5F4FA */
/* color footer #2F303A */
/* color button #2196F3 */